@import "tailwindcss";



/* Add this animation keyframe */
@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out;
  }
}

@layer utilities {
  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }
}

html {
  scroll-behavior: smooth;
}